<!DOCTYPE html>
<html>
   <head>
      <title>Exonian Encounter</title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <link rel="stylesheet" href="stylesheets/style.css">
      <script src = "javascripts/ejsproduction.js"></script>
      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src = "javascripts/humane.min.js"></script>
      <link rel="stylesheet" href="stylesheets/libnotify.css" />
      <script src = "javascripts/main.js"></script>

   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Select</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="/matches">Matches</a>
                  </li>
                  <li>
                     <a href="">Who Likes Me</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>
      <div style = "margin-top: 14px"  class = "row">
         <div class = "col-sm-12">
            <h1 id = "title"> Exonian Encounters <img src="images/lenny.png" alt="Smiley face" height="42" align="top"></h1>
         </div>
      </div>
      <div class = "row">
         <div class = "col-sm-8">
            <div style = "margin-top: 30px" class="input-group">
               <input type="text" class="form-control search-input" placeholder="Search for people">
               <span class="input-group-btn">
               <button class="btn btn-success search" type="button">Search</button>
               </span>
            </div>
            <!-- /input-group -->
            <div style = "margin-top: 30px;" class="panel panel-default">
               <div id="search-result-pane" style = " height:80vh; overflow-y: scroll" class="panel-body">
                  <div style = "margin-top: 20px; color:#cccccc;"class = "text-center" > 
                     <span style = "font-size: 190px;color:#e6e6e6" class="glyphicon glyphicon-search" aria-hidden="true"></span><br>
                     <small>Search for people you are interested in </small>
                  </div>   
               </div>
               <div class="panel-footer">
               </div>
            </div>
         </div>
         <div style = "margin-top: 30px"class = "col-sm-4">
            
               <div  class="panel panel-default">
                  <div style = "padding: 5px" id="search-result-panel" class="panel-body">
                     <div style = "margin: -3px 10px 0px 10px;" class= "row">
                        <!--   <div class="col-md-7"> -->
                        <h3>Selected</h3>
                        <ul class = "selected-people">
                        </ul>
                     </div>
                     <!--  <div class="col-md-5"> -->
                     <div  style = "margin: -3px 10px 0px 10px;"  class="row">
                        <h3>Check for matches</h3>
                        <small id = "peopleleft-message" data-peopleleft="<%=peopleleft%>" style = "margin-top: -5px;"> Select up to <%=peopleleft%> people (save some for <a>Who likes me</a>)</small><br>
                        <button id="submit-people" style = "margin-top: 15px;" class="btn btn-success" > Submit </button>
                     </div>
                  </div>
               </div>
               
         </div>
      </div>


       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">      
    </div>

  </div>

   </body>
</html>